.form-subtitle
  %strong Información de cónyugue.
= f.input :spouse_names, label: 'Nombres'
= f.input :spouse_lastnames, label: 'Apellidos'
= f.input :spouse_personal_identification_number, label: 'Cédula/Pasaporte'
= f.input :spouse_mobile_phone_number, label: 'Teléfono'
= f.input :spouse_birthdate,  as: :date, start_year: Date.today.year - 50, |
  end_year: Date.today.year - 18,                                          |
  order: [:day, :month, :year],                                            |
  label: 'Nacimiento'                                                      |
= f.input :spouse_job_place, label: 'Lugar de trabajo'
= f.input :spouse_job_position, label: 'Posición de trabajo'
= f.input :spouse_monthly_salary, label: 'Salario mensual'
.form-subtitle
  %strong Información del padre.
= f.input :father_names, label: 'Nombres'
= f.input :father_lastnames, label: 'Apellidos'
= f.input :father_residence_phone_number, label: 'Teléfono'
= f.input :father_mobile_phone_number, label: 'Teléfono móvil'
= f.input :father_personal_identification_number
= f.input :father_birthdate, as: :date
= f.input :father_address, label: 'Dirección'
= f.input :father_address_2, label: 'Dirección 2'
= f.input :father_country
= f.input :father_city, label: 'Ciudad'
= f.input :father_sector, label: 'Sector'
= f.input :father_province, label: 'Provincia'
.form-subtitle
  %strong Información de la madre
= f.input :mother_names, label: 'Nombres'
= f.input :mother_lastnames, label: 'Apellidos'
= f.input :mother_residence_phone_number, label: 'Teléfono'
= f.input :mother_mobile_phone_number, label: 'Teléfono móvil'
= f.input :mother_birthdate, as: :date, label: 'Fecha de nacimiento'
= f.input :mother_address, label: 'Dirección'
= f.input :mother_address_2, label: 'Dirección 2'
= f.input :mother_country
= f.input :mother_city, label: 'Ciudad'
= f.input :mother_sector, label: 'Sector'
= f.input :mother_province, label: 'Provincia'