= f.input :profession, label: 'Profesión'
= f.input :scholar_degree, label: 'Educación', collection: ['Bachiller', 'Maestría', 'Doctorado']
= f.input :job_status, label: "Estatus laboral", colletion: ['Dependiente', 'Independiente', 'Empleado', 'Retirado']
= f.input :job_position, label: 'Posición laboral'
= f.input :business_name, label: 'Nombre de la empresa'
= f.input :business_social_reason, label: 'Tipo de negocio'
= f.input :business_phone, label: 'Teléfono'
= f.input :time_in_current_job, label: 'Tiempo trabajando'
= f.input :monthly_income, label: 'Ingreso mensual'
= f.input :other_income, label: 'Otros ingresos'