= #debug @amortization

%h1 Amortización - Préstamos
%hr

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Cuota no.
      %th Fecha de pago
      %th Pago
      %th Capital
      %th Interés
      %th Balance
      %th Total interest

  %tbody
    - @amortization.each_with_index do |a, x|
      %tr
        %td= a[0]
        %td= a[1]
        %td= number_to_currency(a[2], unit: "$")
        %td= number_to_currency(a[3], unit: "$")
        %td= number_to_currency(a[4], unit: "$")
        %td
          %strong= number_to_currency(a[5], unit: "$")
        %td= number_to_currency(a[6], unit: "$")
  /        = link_to 'Show', [@user, loan]

%br

/= link_to 'New Loan', new_user_loan_path(@user)
