- content_for :on_ready do
  Morris.Area({
  element: 'amortization-area',
  behaveLikeLine: true,
  data: #{raw @morris_chart},
  xkey: 'payment_date',
  ykeys: ['balance', 'payment'],
  labels: ['Pagos en fecha', 'Pagos Atrasado'],
  lineWidth: 2,
  hideHover: 'auto',
  lineColors: ["#81d5d9", "#a6e182"]
  });

%h1 Amortización - Préstamos
%hr

#pad-wrapper
  %table.table.table-bordered.table-striped#amortization-table
    %thead
      %tr
        %th Cuota no.
        %th Fecha de pago
        %th Pago
        %th Monto Pagado
        %th Mora
        %th Extra capital
        %th Balance
        %th Net balance
        %th Actual payment date

    %tbody
      - @amortization[:periods].each_with_index do |(payment_day, period), payment_counter |
        %tr{ class: (payment_day ... payment_day + 1.month) === @amortization[:current_date] && 'highlighted' }
          %td= payment_counter + 1
          %td= payment_day
          %td= number_to_currency(period[:monthly_payment], unit: "$", format: " %u %n", delimiter: ",", separator: ".")
          %td= number_to_currency(period[:paid_in_fact], unit: "$", format: " %u %n", delimiter: ",", separator: ".")
          %td= number_to_currency(period[:late_fee], unit: "$", format: " %u %n", delimiter: ",", separator: ".")
          %td= number_to_currency(period[:extra_capital], unit: "$", format: " %u %n", delimiter: ",", separator: ".")
          %td
            %strong= number_to_currency(period[:balance], unit: "$", format: " %u %n", delimiter: ",", separator: ".")
          %td= number_to_currency(period[:net_balance], unit: "$", format: " %u %n", delimiter: ",", separator: ".")
          %td
            = period[:actual_payment_date]

%br

#pad-wrapper
  %table.table.table-bordered.table-striped#amortization-table
    %thead
      %tr
        %th Cuota no.
        / %th Fecha de pago
        %th Pago
        %th Capital
        %th Interés
        %th Total interest
        %th Balance

    %tbody
      - @amortization[:periods].each_with_index do |(payment_day, period), payment_counter |
        %tr{ class: (payment_day ... payment_day + 1.month) === @amortization[:current_date] && 'highlighted' }
          %td= payment_counter + 1
          / %td= payment_day
          %td= number_to_currency(period[:monthly_payment], unit: "$", format: " %u %n", delimiter: ",", separator: ".")
          %td= number_to_currency(period[:capital], unit: "$", format: " %u %n", delimiter: ",", separator: ".")
          %td= number_to_currency(period[:interest], unit: "$", format: " %u %n", delimiter: ",", separator: ".")
          %td= number_to_currency(period[:total_interest], unit: "$", format: " %u %n", delimiter: ",", separator: ".")
          %td
            %strong= number_to_currency(period[:balance], unit: "$", format: " %u %n", delimiter: ",", separator: ".")
  /        = link_to 'Show', [@user, loan]

/= link_to 'New Loan', new_user_loan_path(@user)

.container-fluid
  #pad-wrapper
    .row-fluid
      %h4.title Pagos
      .span12
        %h5 Cumplimiento de pagos
        %br/
        #amortization-area{:style => "height: 250px;"}
