%h1 Amortización - Préstamos
%hr

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Cuota no.
      %th Fecha de pago
      %th Pago
      %th Capital
      %th Interés
      %th Balance
      %th Total interest
      %th Paid in fact
      %th Late fee
      %th Extra capital

  %tbody
    - @amortization.each do |period|
      %tr
        %td= period[:payment_counter]
        %td= period[:payment_day]
        %td= number_to_currency(period[:monthly_payment], unit: "$")
        %td= number_to_currency(period[:capital], unit: "$")
        %td= number_to_currency(period[:interest], unit: "$")
        %td
          %strong= number_to_currency(period[:balance], unit: "$")
        %td= number_to_currency(period[:total_interest], unit: "$")
        %td= number_to_currency(period[:paid_in_fact], unit: "$")
        %td= number_to_currency(period[:late_fee], unit: "$")
        %td= number_to_currency(period[:extra_capital], unit: "$")
  /        = link_to 'Show', [@user, loan]

%br

/= link_to 'New Loan', new_user_loan_path(@user)