%h1 Préstamos

.table-wrapper.users-table.section
  .row-fluid
    %table.table.table-hover
      %thead
        %tr
          %th.span1
            ID
          %th.span4
            Usuario
          %th.span3
            %span.line>
            Monto
          %th.span2
            %span.line>
            Status
          %th.span3
            %span.line>
            Tiempo
          %th.span2
            %span.line>
            Tasa
          %th.span3
            %span.line>
            Fecha
          %th.span3
            %span.lin3>
            Acciones

      %tbody
        - @loans.each do |loan|
          %tr
            %td= loan.id
            %td= loan.user.name
            %td= number_to_currency(loan.amount, delimeter: ",", unit: "RD$", presicion: 2, separator: ".")
            %td= loan.status
            %td= pluralize loan.financing_time, 'month'
            %td= number_to_percentage(loan.financing_rate, precision: 0)   
            %td= loan.emision_date.try :strftime, '%e %b %Y'
            %td
              = link_to 'Ver', admin_loan_path(loan)
              = link_to 'Editar', edit_admin_loan_path(loan)
              = link_to 'Eliminar', admin_loan_path(loan), :method => :delete, :data => { :confirm => '¿Estas seguro?' }

%br
%hr
= link_to 'Nuevo préstamo', new_admin_loan_path