%p
  
  %b User:
  = @loan.user.name
  %br

  %b Amount:
  = number_to_currency @loan.amount
  %br

  %b Financing Rate:
  = number_to_percentage(@loan.financing_rate, precision: 0)   
  %br

  %b Emision Date:
  = @loan.emision_date.strftime('%e %b %Y')
  %br

  %b Financing Time:
  = pluralize @loan.financing_time, 'month'
  %br

  %b Status:
  = @loan.status
  %br

  %b Created At:
  = @loan.created_at.strftime('%e %b %Y %H:%M:%S')
  %br


= link_to 'Edit', edit_admin_loan_path(@loan)
\|
= link_to 'Back', admin_loans_path
