<div class="container-fluid">
    <div id="pad-wrapper">
         <div class="row-fluid head">
            <div class="span12">
                <h4>Form wizard</h4>
            </div>
        </div>


     <!-- Steps buttons -->
		 <div class="row-fluid">
         <div class="span12">
             <div id="fuelux-wizard" class="wizard row-fluid">
                 <ul class="wizard-steps">
                     <li data-target="#step1" class="active">
                         <span class="step">1</span>
                         <span class="title">General <br> information</span>
                     </li>
                     <li data-target="#step2">
                         <span class="step">2</span>
                         <span class="title">Address <br> information</span>
                     </li>
                     <li data-target="#step3">
                         <span class="step">3</span>
                         <span class="title">User <br> settings</span>
                     </li>
                     <li data-target="#step4">
                         <span class="step">4</span>
                         <span class="title">Payment <br> info</span>
                     </li>
                 </ul>                            
             </div>
     	</div>
			<!-- End of steps buttons -->
			
			<!-- form fields -->
			
			<%= form_for(@profile) do |f| %>
			  <% if @profile.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@profile.errors.count, "error") %>
							prohibited this loan from being saved:</h2>

			      <ul>
			      <% @profile.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			
			
			<!-- Step one content -->
			<div class="step-content">
          <div class="step-pane active" id="step1">
              <div class="row-fluid form-wrapper">
                  <div class="span8">
                          <div class="field-box">
                              <%= f.label :first_name %>
      												<%= f.text_field :first_name, class: 'span4' %>												      
										        	<%= f.text_field :second_name, class: 'span4' %>

                          </div>
                          <div class="field-box error">
														 	<%= f.label :first_last_name %>
											        <%= f.text_field :first_last_name, class: 'span4' %>
											        <%= f.text_field :second_last_name, class: 'span4' %>
                              <span class="alert-msg"><i class="icon-remove-sign"></i> Please enter your company</span>
                          </div>
                          <div class="field-box">
										        <%= f.label :personal_identification_number, 'Cédula' %>
										        <%= f.text_field :personal_identification_number, class: 'span8' %>
                          </div>
                          <div class="field-box">
										        <%= f.label :social_status, 'Estatus Social' %>
										        <%= f.text_field :social_status, class: 'span8' %>
                          </div>
													<div class="field-box">
											        <%= f.label :date_of_birth %>
											        <%= f.text_field :date_of_birth, class: 'span8' %>
											    </div>
                  </div>
              </div>
          </div>

					<!-- Step two content -->
          <div class="step-pane" id="step2">
              <div class="row-fluid form-wrapper">
                  <div class="span8">
										<div class="field-box">
								        <%= f.label :residence_phone_number %>
								        <%= f.text_field :residence_phone_number, class: 'span8' %>
								    </div>


										<div class="field-box">
								        <%= f.label :mobile_phone_number %>
								        <%= f.text_field :mobile_phone_number, class: 'span8' %>
								    </div>


										<div class="field-box">
								        <%= f.label :ofice_phone_number %>
								        <%= f.text_field :ofice_phone_number, class: 'span8' %>
								    </div>

										<div class="field-box">
								        <%= f.label :address %>
								        <%= f.text_field :address, class: 'span8' %>
								    </div>

										<div class="field-box">
								        <%= f.label :address_2 %>
								        <%= f.text_field :address_2, class: 'span8' %>
								    </div>

										<div class="field-box">
								        <%= f.label :city %>
								        <%= f.text_field :city, class: 'span8' %>
								    </div>

										<div class="field-box">
								        <%= f.label :sector %>
								        <%= f.text_field :sector, class: 'span8' %>
								    </div>

										<div class="field-box">
								        <%= f.label :province %>
								        <%= f.text_field :province, class: 'span8' %>
								    </div>
                  </div>
              </div>
          </div>

					<!-- Step three -->
					<div class="step-pane" id="step3">
              <div class="row-fluid form-wrapper">
                  <div class="span8">
										<div class="field-box">
								        <%= f.label :profesion %>
								        <%= f.text_field :profesion, class: 'span8' %>
								    </div>

										<div class="field-box">
								        <%= f.label :scholar_degree %>
								        <%= f.text_field :scholar_degree, class: 'span8' %>
								    </div>

										<div class="field-box">
								        <%= f.label :job_position %>
								        <%= f.text_field :job_position, class: 'span8' %>
								    </div>

										<div class="field-box">
								        <%= f.label :time_in_current_job %>
								        <%= f.text_field :time_in_current_job, class: 'span8' %>
								    </div>

										<div class="field-box">
								        <%= f.label :monthly_income %>
								        <%= f.text_field :monthly_income, class: 'span8' %>
								    </div>

										<div class="field-box">
								        <%= f.label :other_income %>
								        <%= f.text_field :other_income, class: 'span8' %>
								    </div>
                  </div>
              </div>
          </div>
           
 				<!-- Step four -->
				    <div class="step-pane" id="step4">
                <div class="row-fluid form-wrapper payment-info">
                    <div class="span8">
                        <form>
                            <div class="field-box">
                                <label>Subscription Plan:</label>
                                <select id="plan" class="span5">
                                    <option value="66">Basic - $2.99/month (USD)</option>
                                    <option value="67">Pro - $9.99/month (USD)</option>
                                    <option value="68">Premium - $49.99/month (USD)</option>
                                </select>
                            </div>
                            <div class="field-box">
                                <label>Credit Card Number:</label>
                                <input class="span5" type="text" />
                            </div>
                            <div class="field-box">
                                <label>Expiration:</label>
                                <input style="width:60px;" placeholder="MM" type="text" /> 
                                &nbsp; / &nbsp;
                                <input style="width:85px;" placeholder="YYYY" type="text" />
                            </div>
                            <div class="field-box">
                                <label>Card CVC Number:</label>
                                <input class="span4" type="text" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="wizard-actions">
                <button type="button" disabled class="btn-glow primary btn-prev"> 
                    <i class="icon-chevron-left"></i> Anterior
                </button>
                <button type="button" class="btn-glow primary btn-next" data-last="Finish">
                    Siguiente <i class="icon-chevron-right"></i>
                </button>
						     <%= f.submit 'Actualizar perfil', :class => 'btn-glow success btn-finish' %>
            </div>
			
			<!-- End of form fields -->
 
		</div>
</div>

<div class="container-fluid">
    <div id="pad-wrapper" class="form-page">
        <div class="row-fluid form-wrapper">

  <div class="span8 column">
    









	  <div class="actions">
 
	  </div>
	<% end %>
  </div>


</div>
</div>
</div>


