<div class="container-fluid">
    <div id="pad-wrapper" class="form-page">
        <div class="row-fluid form-wrapper">
            <!-- left column -->
            <div class="span8 column">
							<%= form_for(@profile) do |f| %>
							  <% if @profile.errors.any? %>
							    <div id="error_explanation">
							      <h2><%= pluralize(@profile.errors.count, "error") %>
											prohibited this loan from being saved:</h2>

							      <ul>
							      <% @profile.errors.full_messages.each do |msg| %>
							        <li><%= msg %></li>
							      <% end %>
							      </ul>
							    </div>
							  <% end %>
	
                <h3>Información personal</h3>
								<hr>
                <div class="field-box">
                    <%= f.label :names, t('.names') %>
										<%= f.text_field :first_name, class: 'span4' %>												      
					        	<%= f.text_field :second_name, class: 'span4' %>

                </div>
                <div class="field-box">
									 	<%= f.label :first_last_name, t('.last_names') %>
						        <%= f.text_field :first_last_name, class: 'span4' %>
						        <%= f.text_field :second_last_name, class: 'span4' %>
                    <!-- <span class="alert-msg"><i class="icon-remove-sign"></i>Favor completar</span> -->
                </div>
								<div class="field-box">
						        <%= f.label :date_of_birth, t('.date_of_birth') %>
						        <%= f.date_field :date_of_birth, class: 'span8' %>
						    </div>
								
                <div class="field-box">
					        <%= f.label :personal_identification_number, t('.id_number') %>
					        <%= f.text_field :personal_identification_number, class: 'span8' %>
                </div>
                <div class="field-box">
					        <%= f.label :nationatilty, t('.nationality') %>
					        <%= f.text_field :nationality, class: 'span8' %>
                </div>
                <div class="field-box">
					        <%= f.label :social_status, t('.social_status') %>
					        <%= f.select :social_status, options_for_select(%w[Soltero Casado]), class: 'span8' %>
                </div>
                <div class="field-box">
					        <%= f.label :gender, t('.gender') %>
					        <%= f.select :gender, options_for_select(%w[Hombre Mujer]), class: 'span4' %>
                </div>

								<div class="field-box">
						        <%= f.label :residence_status, t('.residence_status') %>
						        <%= f.select :residence_status, options_for_select(%w[Propia Alquilada]), class: 'span8' %>
						    </div>
								<div class="field-box">
						        <%= f.label :time_living_in_current_residence, t('.time_living_in_current_residence') %>
						        <%= f.text_field :time_living_in_current_residence, class: 'span8' %>
						    </div>
								<div class="field-box">
						        <%= f.label :residence_phone_number, t('.residence_phone') %>
						        <%= f.text_field :residence_phone_number, class: 'span8' %>
						    </div>
								<div class="field-box">
						        <%= f.label :mobile_phone_number, t('.mobile_phone') %>
						        <%= f.text_field :mobile_phone_number, class: 'span8' %>
						    </div>
								<div class="field-box">
						        <%= f.label :office_phone_number, t('.office_phone')  %>
						        <%= f.text_field :office_phone_number, class: 'span8' %>
						    </div>
								<div class="field-box">
						        <%= f.label :address, t('.address') %>
						        <%= f.text_field :address, class: 'span8' %>
						    </div>
								<div class="field-box">
						        <%= f.label :address_2, t('.address_2') %>
						        <%= f.text_field :address_2, class: 'span8' %>
						    </div>
								<div class="field-box">
						        <%= f.label :city, t('.city') %>
						        <%= f.text_field :city, class: 'span8' %>
						    </div>
								<div class="field-box">
						        <%= f.label :sector, t('.sector') %>
						        <%= f.text_field :sector, class: 'span8' %>
						    </div>
								<div class="field-box">
						        <%= f.label :province, t('.province') %>
						        <%= f.text_field :province, class: 'span8' %>
						    </div>
								<h3>Información familiar</h3>
								<hr>
								<div class="form-subtitle">
	                  <strong>Información de cónyugue.</strong>
	              </div>
								
                <div class="field-box">
					        <%= f.label :spouse_first_name, t('.name') %>
					        <%= f.text_field :spouse_first_name, class: 'span4' %>
					        <%= f.text_field :spouse_second_name, class: 'span4' %>
                </div>
                <div class="field-box">
					        <%= f.label :spouse_first_lastname, t('.lastname') %>
					        <%= f.text_field :spouse_first_lastname, class: 'span4' %>
					        <%= f.text_field :spouse_second_lastname, class: 'span4' %>
                </div>
                <div class="field-box">
					        <%= f.label :spouse_personal_identification_number, t('.personal_id') %>
					        <%= f.text_field :spouse_personal_identification_number, class: 'span4' %>
                </div>
                <div class="field-box">
					        <%= f.label :spouse_mobile_phone_number, t('.mobile_number') %>
					        <%= f.text_field :spouse_mobile_phone_number, class: 'span4' %>
                </div>
                <div class="field-box">
					        <%= f.label :spouse_date_of_birth, t('.birth_date') %>
					        <%= f.text_field :spouse_date_of_birth, class: 'span4' %>
                </div>
								<div class="form-subtitle">
	                  <strong>Información del padre.</strong>
	              </div>
                <div class="field-box">
					        <%= f.label :father_first_name, t('.name') %>
					        <%= f.text_field :father_first_name, class: 'span4' %>
					        <%= f.text_field :father_second_name, class: 'span4' %>
                </div>
                <div class="field-box">
					        <%= f.label :father_first_name, t('.lastname') %>
					        <%= f.text_field :father_first_lastname, class: 'span4' %>
					        <%= f.text_field :father_second_lastname, class: 'span4' %>
                </div>

                <div class="form-subtitle">
                	  <strong>Información de la madre</strong>
                </div>

                <div class="field-box">
					        <%= f.label :mother_first_name, t('.name') %>
					        <%= f.text_field :mother_first_name, class: 'span4' %>
					        <%= f.text_field :mother_second_name, class: 'span4' %>
                </div>

                <div class="field-box">
					        <%= f.label :mother_first_name, t('.lastname') %>
					        <%= f.text_field :mother_first_lastname, class: 'span4' %>
					        <%= f.text_field :mother_second_lastname, class: 'span4' %>
                </div>

	              <h3>Referencias Personales</h3>
								<hr>
								<%= f.fields_for :references do |references| %>
										<div class="field-box">
											<%= references.label :name, t('.name') %>
											<%= references.text_field :name, class: 'span4' %>
										</div>
										<div class="field-box">
											<%= references.label :lastname, t('.lastname') %>
											<%= references.text_field :lastname, class: 'span4' %>
										</div>
										<div class="field-box">
											<%= references.label :residence_phone_number, t('.residence_phone_number') %>
											<%= references.text_field :residence_phone_number, class: 'span4' %>
										</div>
										<div class="field-box">
											<%= references.label :mobile_phone_number, t('.mobile_phone_number') %>
											<%= references.text_field :mobile_phone_number, class: 'span4' %>
										</div>
										<div class="field-box">
											<%= references.label :linkage, t('.linkage') %>
											<%= references.text_field :linkage, class: 'span6' %>
										</div>
								<% end %>

								
								<h3>Información profesional y laboral</h3>
								<hr>

								<div class="field-box">
						        <%= f.label :profession, t('.profession') %>
						        <%= f.text_field :profession, class: 'span8' %>
						    </div>
								<div class="field-box">
						        <%= f.label :scholar_degree, t('.professional_level') %>
						        <%= f.text_field :scholar_degree, class: 'span8' %>
						    </div>
								<div class="field-box">
						        <%= f.label :job_status, t('.job_status') %>
						        <%= f.select :job_status, options_for_select(%w[Dependiente Independiente Empleado Retirado]), class: 'span8' %>
						    </div>
								<div class="field-box">
						        <%= f.label :job_position, t('.job_position') %>
						        <%= f.text_field :job_position, class: 'span8' %>
						    </div>
								<div class="field-box">
						        <%= f.label :business_name, t('.business_name') %>
						        <%= f.text_field :business_name, class: 'span8' %>
						    </div>
								<div class="field-box">
						        <%= f.label :business_social_reason, t('.business_social_reason') %>
						        <%= f.text_field :business_social_reason, class: 'span8' %>
						    </div>
								<div class="field-box">
						        <%= f.label :business_phone, t('.business_phone') %>
						        <%= f.text_field :business_phone, class: 'span8' %>
						    </div>
								<div class="field-box">
						        <%= f.label :time_in_current_job, t('.time_at_job') %>
						        <%= f.text_field :time_in_current_job, class: 'span8' %>
						    </div>
								<div class="field-box">
						        <%= f.label :monthly_income, t('.monthly_income') %>
						        <%= f.text_field :monthly_income, class: 'span8' %>
						    </div>

								<div class="field-box">
						        <%= f.label :other_income, t('.other_income') %>
						        <%= f.text_field :other_income, class: 'span8' %>
						    </div>
						
              <h3>Información de garante</h3>
							<hr>
							<%= f.fields_for :guarantor do |guarantor| %>
								<div class="field-box">
									<%= guarantor.label :first_name, t('.name') %>
									<%= guarantor.text_field :first_name, class: 'span4' %>
									<%= guarantor.text_field :second_name, class: 'span4' %>
								</div>
								<div class="field-box">
									<%= guarantor.label :first_last_name, t('.lastname')  %>
									<%= guarantor.text_field :first_last_name, class: 'span4' %>
									<%= guarantor.text_field :second_last_name, class: 'span4' %>
								</div>
								<div class="field-box">
									<%= guarantor.label :personal_identification_number, t('.id_number') %>
									<%= guarantor.text_field :personal_identification_number, class: 'span6' %>
								</div>
								<div class="field-box">
									<%= guarantor.label :birth_date, t('.birth_date') %>
									<%= guarantor.text_field :birth_date, class: 'span8' %>
								</div>
								<div class="field-box">
									<%= guarantor.label :gender, t('.gender') %>
									<%= guarantor.select :gender, options_for_select(%w[Hombre Mujer]) %>
							  </div>
								<div class="field-box">
									<%= guarantor.label :nationality, t('.nationality') %>
									<%= guarantor.text_field :nationality, class: 'span6' %>
							  </div>
								<div class="field-box">
									<%= guarantor.label :residence_phone_number, t('.residence_phone_number') %>
									<%= guarantor.text_field :residence_phone_number, class: 'span6' %>
							  </div>
								<div class="field-box">
									<%= guarantor.label :mobile_phone_number, t('.mobile_phone_number') %>
									<%= guarantor.text_field :mobile_phone_number, class: 'span8' %>
							  </div>
								<div class="field-box">
									<%= guarantor.label :address, t('.address') %>
									<%= guarantor.text_field :address, class: 'span8' %>
							  </div>
								<div class="field-box">
									<%= guarantor.label :city, t('.city') %>
									<%= guarantor.text_field :city, class: 'span4' %>
							  </div>
								<div class="field-box">
									<%= guarantor.label :province, t('.province') %>
									<%= guarantor.text_field :province, class: 'span4' %>
							  </div>
								<div class="field-box">
									<%= guarantor.label :zipcode, t('.zipcode') %>
									<%= guarantor.text_field :zipcode, class: 'span4' %>
							  </div>
							<% end %> 		

	                  <h3>Activos</h3>
										<hr>
					      
								
						    <%= f.fields_for :assets do |assets| %>
										<div class="field-box">
											<%= assets.label :name, t('.asset_name') %>
											<%= assets.text_field :name, class: 'span8' %>
										</div>
										<div class="field-box">
										<%= assets.label :description, t('.description') %>
										<%= assets.text_field :description, class: 'span8' %>
										</div>
										<div class="field-box">
										<%= assets.label :commercial_value, t('.commercial_value') %>
										<%= assets.text_field :commercial_value, class: 'span8' %>
										</div>
										<div class="field-box">
										<%= assets.label :ownership_status, t('.ownership_status') %>
										<%= assets.select :ownership_status, options_for_select(%w[Propio Financiado])  %>
										</div>
										<div class="field-box">
										<%= assets.label :amount_owned, t('.amount_owned') %>
										<%= assets.text_field :amount_owned, class: 'span8' %>
										</div>
										<div class="field-box">
										<%= assets.label :amount_debt, t('.amount_debt') %>
										<%= assets.text_field :amount_debt, class: 'span8' %>
										</div>
								<% end %>
						
						
						     <div class="pull-right">
						     		<%= f.submit 'Guardar perfil', :class => 'btn-flat success btn-finish' %>
								 </div>
            </div>

            <!-- right column -->
            <div class="span4 column pull-right">
								<h4></h4>
								<div class="alert alert-success">
                    <i class="icon-comment"></i><p>Si no tienes toda la información para completar el formulario ahora, pulsa el botón guardar al final del formulario y continúa luego.</p>
                </div>
                
						</div>
                <% end %>
            </div>
        </div>
    </div>
</div>