<div class="container-fluid">
    <div id="pad-wrapper" class="form-page">
        <div class="row-fluid form-wrapper">
            <!-- left column -->
            <div class="span11 column">
								 <h1>Editar perfil</h1>
								<hr>
							

							<%= simple_form_for(@profile, html: { class: 'form-vertical' } ) do |f| %>
							
							<% if @profile.errors.any? %>
							<div class="alert alert-danger hidden-tablet">
							      <%= pluralize(@profile.errors.count, "error") %>
								        prohibited this loan from being saved:
						 </div>            
						 <% end %>
						  
							
	
                <h3>Información personal</h3>
								<hr>
										<%= f.input :names, placeholder: 'Nombre', label: 'Nombres' %>												      
						        <%= f.input :lastnames, label: 'Apellidos' %>
					          <%= f.input :personal_identification_number, label: 'Cédula no.' %>
 				        		<%= f.input :nationality, label: 'Nacionalidad' %>
 				        		<%#= f.input :country, label: 'Pais' %>
										<%= f.input :social_status, collection: ['Soltero', 'Casado'], label: 'Estatus' %>
					          <%= f.input :gender, collection: ['Hombre', 'Mujer'], label: 'Género' %>
										<%= f.input :date_of_birth, as: :date, start_year: Date.today.year - 50,
										                              end_year: Date.today.year - 18,
										                              order: [:day, :month, :year],
										 															label: 'Nacimiento' %>
						        <%= f.input :residence_status, collection: ['Propia', 'Alquilada'], label: 'Estatus residencia' %>
						        <%= f.input :time_living_in_current_residence, collection: 0..20,
																label: 'Tiempo viviendo en residencia' %><br>
																
						        <%= f.input :residence_phone_number, label: 'Teléfono residencia' %>
						        <%= f.input :mobile_phone_number, label: 'Teléfono móvil' %>
						        <%= f.input :office_phone_number, label: 'Teléfono oficina'  %>
						        <%= f.input :address, label: 'Dirección', input_html: { class: 'span6' } %>
						        <%= f.input :address_2, label: 'Dirección',  input_html: { class: 'span6' } %>
						        <%= f.input :address_reference, label: 'Referencia' %>
						        <%= f.input :city, label: 'Ciudad' %>
						        <%= f.input :sector, label: 'Sector' %>
						        <%= f.input :province, label: 'Provincia' %>

										<h3>Información profesional y laboral</h3>
										<hr>

								        <%= f.input :profession, label: 'Profesión' %>
								        <%= f.input :scholar_degree, label: 'Educación', collection:['Bachiller', 'Maestría', 'Doctorado'] %>
								        <%= f.input :job_status, colletion:['Dependiente', 'Independiente', 'Empleado', 'Retirado'] %>
								        <%= f.input :job_position, label: 'Posición laboral' %>
								        <%= f.input :business_name, label: 'Nombre de la empresa', label_html: { class: 'span3' } %>
								        <%= f.input :business_social_reason, label: 'Tipo de negocio' %>

								        <%= f.input :business_phone, label: 'Teléfono' %>
								        <%= f.input :time_in_current_job, label: 'Tiempo trabajando' %>

								        <%= f.input :monthly_income, label: 'Ingreso mensual' %>
								        <%= f.input :other_income, label: 'Otros ingresos' %>



			              <h3>Información de garante</h3>
										<hr>
										<%= f.simple_fields_for :guarantor do |guarantor| %>
												<%= guarantor.input :first_name, label: 'Nombres' %>
												<%= guarantor.input :second_name, class: 'apellidos' %>

												<%= guarantor.input :personal_identification_number, label: 'Cédula' %>
												<%= guarantor.input :birth_date, as: :date, start_year: Date.today.year - 50,
												                              end_year: Date.today.year - 18,
												                              order: [:day, :month, :year],
												 															label: 'Nacimiento' %>
												<%= guarantor.input :gender, collection:['Hombre', 'Mujer'] %>
												<%= guarantor.input :nationality, label: 'Nacionalidad' %>
												<%= guarantor.input :residence_phone_number, label: 'Teléfono residencia' %>
												<%= guarantor.input :mobile_phone_number, label: 'Teléfono móvil' %>
												<%= guarantor.input :address, label: 'dirección' %>
												<%= guarantor.input :city, label: 'Ciudad' %>
												<%= guarantor.input :province, label: 'Provincia' %>
												<%= guarantor.input :zipcode, label: 'Código postal' %>
										<% end %> 		



								<h3>Información familiar</h3>
								<hr>
								<div class="form-subtitle">
	                  <strong>Información de cónyugue.</strong>
	              </div>
								
					        <%= f.input :spouse_names, label: 'Nombres' %>
					        <%= f.input :spouse_lastnames, label: 'Apellidos' %>
					        <%= f.input :spouse_personal_identification_number, label: 'Cédula/Pasaporte' %>
					        <%= f.input :spouse_mobile_phone_number, label: 'Teléfono' %>
					        <%= f.input :spouse_birthdate,  as: :date, start_year: Date.today.year - 50,
									                              end_year: Date.today.year - 18,
									                              order: [:day, :month, :year],
									 															label: 'Nacimiento' %>
					        <%= f.input :spouse_job_place, label: 'Lugar de trabajo' %>
					        <%= f.input :spouse_job_position, label: 'Posición de trabajo' %>
					        <%= f.input :spouse_monthly_salary, label: 'Salario mensual' %>

								<div class="form-subtitle">
	                  <strong>Información del padre.</strong>
	              </div>

					        <%= f.input :father_names, label: 'Nombres' %>
					        <%= f.input :father_lastnames, label: 'Apellidos' %>
					        <%#= f.input :father_personal_identification_number, label: 'Cédula/Pasaporte' %>
					        <%= f.input :father_residence_phone_number, label: 'Teléfono' %>
					        <%= f.input :father_mobile_phone_number, label: 'Teléfono móvil' %>
					        <%= f.input :father_address, label: 'Dirección' %>
					        <%= f.input :father_address_2, label: 'Dirección 2' %>
					        <%= f.input :father_city, label: 'Ciudad' %>
					        <%= f.input :father_sector, label: 'Sector' %>
					        <%= f.input :father_province, label: 'Provincia' %>

                <div class="form-subtitle">
                	  <strong>Información de la madre</strong>
                </div>

					        <%= f.input :mother_names, label: 'Nombres' %>
					        <%= f.input :mother_lastnames, label: 'Apellidos' %>
					        <%= f.input :mother_residence_phone_number, label: 'Teléfono' %>
					        <%= f.input :mother_mobile_phone_number, label: 'Teléfono móvil' %>
					        <%= f.input :mother_birthdate, label: 'Fecha de nacimiento' %>
					        <%= f.input :mother_address, label: 'Dirección' %>
					        <%= f.input :mother_address_2, label: 'Dirección 2' %>
					        <%= f.input :mother_city, label: 'Ciudad' %>
					        <%= f.input :mother_sector, label: 'Sector' %>
					        <%= f.input :mother_province, label: 'Provincia' %>
						

	                  <h3>Activos</h3>
										<hr>

						    <%= f.fields_for :assets do |builder| %>
										<%= render "asset_fields", :f => builder %>
								<% end %>
								<p><%= link_to_add_fields "Agregar Activo", f, :assets %></p>
						
						
						     <div class="pull-right">
						     		<%= f.submit 'Guardar perfil', :class => 'btn-flat success btn-finish' %>
								 </div>
            </div>

            <!-- right column -->
            <!-- <div class="span2 column pull-right">
								<h4></h4>
								<div class="alert alert-success">
                    <i class="icon-comment"></i><p>Si no tienes toda la información para completar el formulario ahora, pulsa el botón guardar al final del formulario y continúa luego.</p>
                </div>
                
						</div> -->
                <% end %>
            </div>
        </div>
    </div>
</div>