<div class="header">
        <a href="/">
          <%= image_tag 'logo_crediclub.png' %>
        </a>
</div>

<div class="row-fluid login-wrapper">
    <div class="box">
        <div class="content-wrap">
					<h6>Reenviar instrucciones de confirmación</h6>

					<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
					  <%= devise_error_messages! %>

					  <%= f.email_field :email, autofocus: true, placeholder: 'Correo Electrónico', class: 'span12' %></div>

					  <div><%= f.submit "Enviar", class: 'btn-flat success' %></div>
					<% end %>

					<%= render "devise/shared/links" %>
				
			  </div>
		</div>
</div>
