#pad-wrapper.users-list
  .row.header
    %h3 Cuentas
    .col-md-10.col-sm-12.col-xs-12.pull-right
      = link_to new_admin_account_path, :class => 'btn-flat success pull-right' do
        %span +
        Nueva Cuenta

  .table-wrapper.users-table
    .row-fluid
      %table.table.table-hover
        %thead
          %tr
            %th ID
            %th Usuario
            %th Monto
            %th Estatus
            %th Descripción
            %th Fecha
            %th Acciones

        %tbody
          - @accounts.each do |account|
            %tr
              %td= account.id
              %td= account.name
              %td= number_to_currency(account.amount, delimeter: ',', unit: 'RD$', separator: '.', format: "%u %n") 
              %td= account.number
              %td= account.description
              %td
              %td
                = link_to 'Ver', admin_account_path(account)
                = link_to 'Editar', edit_admin_account_path(account)
                = link_to 'Eliminar', admin_account_path(account), :method => :delete, :data => { :confirm => '¿Estas seguro?' }





/= link_to 'Nueva cuenta', new_admin_account_path