<div class="header">
        <a href="/">
          <%= image_tag 'logo_crediclub.png' %>
        </a>
</div>
    <div class="row-fluid login-wrapper">
        <div class="box">
            <div class="content-wrap">
							<p>Antes de solicitar tu préstamo debes crear tu cuenta</p>
							<h6>Regístrate</h6>
							<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
							  <%= devise_error_messages! %>

							  	<div><%#= f.email_field :email, autofocus: true, placeholder: 'Nombre', class: 'span12' %></div>
								  <div><%= f.email_field :email, autofocus: true, placeholder: 'Correo Electrónico', class: 'span12' %></div>
								  <div><%= f.password_field :password, autocomplete: "off", class: 'span12', placeholder: 'Contraseña' %></div>
								  <div><%= f.password_field :password_confirmation, autocomplete: "off", class: 'span12', placeholder: 'Confirmar contraseña' %></div>

								  <div><%= f.submit "Regístrate", class: 'btn-flat success' %></div>
								<% end %>

								<%= render "devise/shared/links" %>
            </div>
        </div>

        <div class="span4 already">
            <p>¿Tienes tu cuenta?</p>
            <a href="signin.html">Accede ahora</a>
        </div>
    </div>