- user.build_profile unless user.profile
#pad-wrapper.user-profile
  .row.header
    .col-md-8
      %h3.name
        Perfil
        /= @profile.name
      %span.area= "Completado en un #{user.profile.progress_status}%"
    = link_to edit_user_path(@user), class: 'btn-flat success pull-right' do
      Editar perfil



#pad-wrapper
  %hr
  %h3 Información Personal
  /%hr
  .row
    .span3
      %strong Nombres:
      = user.profile.names
      %br
      %strong Apellidos:
      = user.profile.lastnames
      %br
      %strong Cédula:
      = user.profile.personal_identification_number
      %br
      %strong Fecha de nacimiento:
      = user.profile.date_of_birth
      %br
      %strong Nacionalidad:
      = user.profile.nationality
      %br
      %strong Status Social:
      = user.profile.social_status
      %br
      %strong Género:
      = user.profile.gender
      %br
      %strong Teléfono
      %br
      %strong Teléfono Móvil
      %br
    .span3      
      %strong Residencia:
      = user.profile.residence_status
      %br
      %strong Años viviendo en residencia actual:
      = user.profile.time_living_in_current_residence
      %br
      %strong Dirección:
      = user.profile.address
      %br
      %strong Dirección 2:
      = user.profile.address_2
      %br
      %strong Referencia:
      = user.profile.address_reference
      %br
      %strong Ciudad:
      = user.profile.city
      %br
      %strong Sector:
      = user.profile.sector
      %br
      %strong Provincia:
      = user.profile.province
      %br
      %strong País:
      = user.profile.country
      %br
    .span3
      %strong Nivel académico:
      = user.profile.scholar_degree
      %br
      %strong Profesión:
      = user.profile.profession
      %br
      %strong Estatus empleo:
      = user.profile.job_status
      %br
      %strong Nombre de la empresa:
      = user.profile.business_name
      %br
      %strong Razón social:
      = user.profile.business_social_reason
      %br
      %strong Posición:
      = user.profile.job_position
      %br
      %strong Salario mensual:
      = user.profile.monthly_income
      %br
      %strong Otro ingreso:
      = user.profile.other_income
      %br
      %strong Teléfono:
      = user.profile.business_phone
      %br
  %hr.separator

  %h3 Activos
  - user.profile.assets.each do |asset|
    .row
      .span3
        %strong Nombre:
        = asset.name
        %br
        %strong Descripción:
        = asset.description
        %br
      .span3
        %strong Valor comercial:
        = asset.commercial_value
        %br
        %strong Estatus de activo:
        = asset.ownership_status
        %br
      .span3
        %strong Monto pagado:
        = asset.amount_owned
        %br
        %strong Monto adeudado:
        = asset.amount_debt
        %br
  %hr
  %h3 References
  - user.profile.references.each do |reference|
    .row
      .span3
        %strong Nombre:
        = reference.name
        %br
        %strong Apellidos:
        = reference.last_name
        %br
      .span3
        %strong No. Cédula/Pasaporte
        = reference.personal_identification_number
        %br
        %strong Teléfono residencia:
        = reference.residence_phone_number
        %br
      .span3
        %strong Teléfono móvil:
        = reference.mobile_phone_number
        %br
        %strong Vínculo:
        = reference.linkage
        %br
  %hr  
  %h3 Información familiar
  %h4 Información del padre
  .row
    .span3
      %strong Nombres:
      = user.profile.father_names
      %br
      %strong Apellidos:
      = user.profile.father_lastnames
      %br
      %strong Cédula/Pasaporte:
      = user.profile.father_personal_identification_number
      %br
      %strong Fecha de nacimiento:
      = user.profile.father_birthdate
      %br
    .span3
      %strong Teléfono:
      = user.profile.father_residence_phone_number
      %br
      %strong Teléfono móvil:
      = user.profile.father_mobile_phone_number
      %br
      %strong Dirección:
      = user.profile.father_address
      %br
      %strong Dirección 2:
      = user.profile.father_address_2
      %br
    .span3
      %strong Ciudad:
      = user.profile.father_city
      %br
      %strong Sector:
      = user.profile.father_sector
      %br
      %strong Provincia:
      = user.profile.father_province
      %br
      %strong País:
      = user.profile.father_country
  %hr
  %h4 Información de la madre
  .row
    .span3
      %strong Nombres
      = user.profile.mother_names
      %br
      %strong Apellidos
      = user.profile.mother_lastnames
      %br
      %strong Cédula/Pasaporte
      = user.profile.spouse_personal_identification_number
      %br
      %strong Teléfono
      = user.profile.mother_residence_phone_number
      %br
    .span3
      %strong Teléfono móvil
      = user.profile.mother_mobile_phone_number
      %br
      %strong Fecha de nacimiento
      = user.profile.mother_birthdate
      %br
      %strong Dirección
      = user.profile.mother_address
      %br
      %strong Dirección 2
      = user.profile.mother_address_2
      %br
    .span3
      %strong Ciudad
      = user.profile.mother_city
      %br
      %strong Sector
      = user.profile.mother_sector
      %br
      %strong Provincia
      = user.profile.mother_province
      %br
      %strong País
      = user.profile.mother_country
      %br
  %hr 
  %h4 Información de conyuge
  .row
    .span3 
      %strong Nombres:
      = user.profile.spouse_names
      %br
      %strong Apellidos:
      = user.profile.spouse_lastnames
      %br
      %strong Cédula/Pasaporte:
      = user.profile.spouse_personal_identification_number
      %br
      %strong Teléfono:
      = user.profile.spouse_mobile_phone_number
      %br
    .span3
      %strong Teléfono móvil:
      = user.profile.spouse_mobile_phone_number
      %br
      %strong Fecha de nacimiento:
      = user.profile.spouse_birthdate
      %br
      %strong Lugar de trabajo:
      = user.profile.spouse_job_place
      %br
      %strong Posición:
      = user.profile.spouse_job_position
      %br
    .span3
      %strong Salario mensual:
      = user.profile.spouse_monthly_salary
      %br
  %hr