= simple_nested_form_for @user, url: @user.new_record? ? users_path : user_path(@user),  html: { class: 'form-vertical profile-form' } do |f|
  

  = f.input :email, input_html: { disabled: @user.persisted? }

  = f.simple_fields_for :profile do |ff|

    %h3 Información personal
    %hr/
    = render 'user_form_fields/personal_info_fields', f: ff
   
    %h3 Información profesional y laboral
    %hr/
    = render 'user_form_fields/professional_info_fields', f: ff

    %h3 Información de garante
    %hr/
    = render 'user_form_fields/guarantor_fields', f: ff

    %h3 Información familiar
    %hr/
    = render 'user_form_fields/family_info_fields', f: ff

    %h3 Activos
    %hr/
    = ff.simple_fields_for :assets do |asset|
      = render "user_form_fields/asset_fields", :f => asset
    = ff.link_to_add "Añadir activo", :assets 
    %hr/
    
    %h3 References
    %hr/
    = ff.simple_fields_for :references do |ref|
      = render "user_form_fields/reference_fields", :f => ref
    = ff.link_to_add "Añadir referencia", :references 

  %hr/
  = f.submit 'Guardar perfil', :class => 'btn-flat success btn-finish'



