%table.table.table-striped.table-bordered
  %thead
    %tr
      %th ID
      %th Correo Electrónico
      %th % Completado 
      %th Acciones

  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.email
        %td= user.profile.progress_status
        %td
          = link_to 'Ver', user
          = link_to 'Editar', edit_user_path(user)
          = link_to 'Eliminar', user, :method => :delete, :data => { :confirm => 'Are you sure?' } unless user == current_user

%br

= link_to 'Nuevo Usuario', new_user_path
