= render '/user_info/user_info', user: @user

#pad-wrapper
  %h3 Activos

  - @user.profile.assets.each do |asset|
    .row
      .span3
        %strong Nombre:
        = asset.name
        %br
        %strong Descripción:
        = asset.description
        %br
      .span3
        %strong Valor comercial:
        = asset.commercial_value
        %br
        %strong Estatus de activo:
        = asset.ownership_status
        %br
      .span3
        %strong Monto pagado:
        = asset.amount_owned
        %br
        %strong Monto adeudado:
        = asset.amount_debt
        %br

  %hr
  %h3 Referencias
  - @user.profile.references.each do |reference|
    .row
      .span3
        %strong Nombres:
        = reference.name
        %br
        %strong Apellidos:
        = reference.last_name
        %br
      .span3
        %strong Cédula/Pasaporte:
        = reference.personal_identification_number
        %br
        %strong Teléfono:
        = reference.residence_phone_number
        %br
      .span3
        %strong Teléfono móvil:
        = reference.mobile_phone_number
        %br
        %strong Vínculo:
        = reference.linkage
        %br
  %hr  

  = link_to 'Actualizar', edit_user_path(@user), class: 'btn btn-flat success'
