/ sidebar
#sidebar-nav
  %ul#dashboard-menu
    %li{class: "#{'active' if controller_name == 'home'}"}
      - if controller_name == 'home'
        .pointer
          .arrow
          .arrow_border
      = link_to user_dashboard_path do 
        %i.icon-home
        %span Inicio
    %li{class: "#{'active' if controller_name == 'users'}"}
      - if controller_name == 'users'
        .pointer
          .arrow
          .arrow_border
      = link_to profile_users_path do 
        %i.icon-user
        %span Perfiles
    / %li{class: "#{'active' if controller_name == 'requests'}"}
    /   - if controller_name == 'requests'
    /     .pointer
    /       .arrow
    /       .arrow_border
    /   = link_to user_requests_path(current_user) do 
    /     %i.icon-user
    /     %span Requests    
