= f.simple_fields_for :guarantor do |guarantor|
  = guarantor.input :first_name, label: 'Nombres'
  = guarantor.input :second_name, label: 'Apellidos'
  = guarantor.input :personal_identification_number, label: 'Cédula'
  %p
    %strong
      Fecha de nacimiento
  %br
  %br
  = guarantor.input_field :birth_date, start_year: Date.today.year - 95, end_year: Date.today.year - 18, order: [:day, :month, :year], label: 'Nacimiento'
  = guarantor.input :gender, collection:['Hombre', 'Mujer']
  = guarantor.input :nationality, label: 'Nacionalidad'
  = guarantor.input :residence_phone_number, label: 'Teléfono residencia'
  = guarantor.input :mobile_phone_number, label: 'Teléfono móvil'
  = guarantor.input :address, label: 'Dirección'
  = guarantor.input :city, label: 'Ciudad'
  = guarantor.input :province, label: 'Provincia'
  = guarantor.input :zipcode, label: 'Código postal'