= f.input :names, placeholder: 'Nombre', label: 'Nombres'
= f.input :lastnames, label: 'Apellidos'
= f.input :personal_identification_number, label: 'Cédula no.'
= f.input :nationality, label: 'Nacionalidad'
= f.input :social_status, collection: ['Soltero', 'Casado'], label: 'Estatus'
= f.input :gender, collection: ['Hombre', 'Mujer'], label: 'Género'
%p
  %strong Fecha de nacimiento
= f.input_field :date_of_birth, start_year: Date.today.year - 95, end_year: Date.today.year - 18, order: [:day, :month, :year], label: 'Nacimiento'
%br
%br
= f.input :country
= f.input :residence_status, collection: ['Propia', 'Alquilada'], label: 'Estatus residencia'
= f.input :time_living_in_current_residence, collection: 0..20, label: 'Tiempo viviendo en residencia'   
= f.input :residence_phone_number, label: 'Teléfono residencia'
= f.input :mobile_phone_number, label: 'Teléfono móvil'
= f.input :office_phone_number, label: 'Teléfono oficina'
= f.input :address, label: 'Dirección'
= f.input :address_2, label: 'Dirección'
= f.input :address_reference, label: 'Referencia'
= f.input :city, label: 'Ciudad'
= f.input :sector, label: 'Sector'
= f.input :province, label: 'Provincia'

= f.input :prior_job
= f.input :currently_working
