= f.link_to_remove "Remove this reference"
= f.input :name
= f.input :last_name
= f.input :personal_identification_number
= f.input :residence_phone_number
= f.input :mobile_phone_number
= f.input :linkage
