= f.link_to_remove "Eliminar referencia"
= f.input :name, label: "Nombres"
= f.input :last_name, label: "Apellidos"
= f.input :personal_identification_number, label: "Cédula/Pasaporte"
= f.input :residence_phone_number, label: "Teléfono"
= f.input :mobile_phone_number, label: "Teléfono Móvil"
= f.input :linkage, label: "Vínculo"
