- content_for :on_ready do
  Morris.Area({
  element: 'amortization-area',
  behaveLikeLine: true,
  data: #{raw @morris_chart},
  xkey: 'payment_date',
  ykeys: ['balance', 'payment'],
  labels: ['Balance', 'Pagado'],
  lineWidth: 2,
  hideHover: 'auto',
  lineColors: ["#81d5d9", "#a6e182"]
  });



#main-stats
  .row.row-fluid.stats-row
    .span3.stat
      .data
        %span.number= number_to_currency(@remaining_balance, unit: '$', separator: '.', delimiter: ',', format: "%u %n")

      %span.date Balance a la fecha
    .span3.stat
      .data
        %span.number= @payments_count

      %span.date Cuotas Pagadas
    .span3.stat
      .data
        %span.number= number_to_currency(@monthly_payment, unit: "$", format: "%u %n")

      %span.date  Cuota mensual
    .span3.stat.last
      .data
        %span.number= number_to_currency(@borrowed_amount, unit: '$', separator: '.', delimiter: ',', format: "%u %n")

      %span.date Monto prestado

#main-stats
  .row.row-fluid.stats-row
    .span3.stat
      .data
        %span.number= @delayed_payments_quantity

      %span.date Cuotas atrasadas
    .span3.stat
      .data
        %span.number= @remaining_payments

      %span.date Cuotas pendientes
    .span3.stat
      .data
        %span.number= pluralize(@loan_financing_time, 'Mes')

      %span.date Financiamiento
    .span3.stat.last
      .data
        %span.number= @loan_emission_date.nil? ? '' : l(@loan_emission_date, format: :long)

      %span.date Fecha de emisión

#pad-wrapper.users-list
  .row.header
    %h3 Proyección de saldo

.container-fluid
  #pad-wrapper
    .row-fluid
      .span12
        %br/
        #amortization-area{:style => "height: 250px;"}


#pad-wrapper.users-list
  .row.header
    %h3 Pagos realizados
    .col-md-10.col-sm-12.col-xs-12.pull-right

  .row
    .col-md-12
      %table.table.table-hover
        %thead
          %tr
          %th.col-md-2
            Monto Pagado
            %th.col-md-3
              %span.line>
              Cargo por mora
            %th.col-md-4
              %span.line>
              Pago realizado

        %body
          - @all_payments.each do |payment|
            %tr
              %td
                = number_to_currency(payment.amount, unit: '$', delimeter: ',', separator: '.')
              %td
                = number_to_currency(payment.late_fee, unit: '$', delimeter: ',', separator: '.')
              %td
                = "#{distance_of_time_in_words(payment.payment_date, Time.now)} / #{l payment.payment_date, format: :long }"


/= @loan_payment_history
/= @loan_track.to_json