#pad-wrapper.new-user
  .row.header
    .col-md-12
      %h3 Solicitar préstamo
  .row.form-wrapper
    .col-md-9.with-sidebar

      = simple_form_for [@user, @request], html: { class: 'form-vertical' }  do |f|

        = f.input :user_id, :as => :hidden, :input_html => { :value => @user.id }
        = f.input :status, :as => :hidden, :input_html => { :value => Loan::Pending }
        = f.input :amount, input_html:  {value: f.object.amount || '10000'}, label: 'Monto'
        = f.input :financing_time, input_html:  {value: f.object.financing_time || '12'}, label: 'Tiempo de financiamiento (en meses)'
        = f.input :financing_rate, input_html:  {value: Loan::DefaultFinancingRate, disabled: true }, label: 'Monto'

    
        .actions
          = f.submit 'Solicitar', :class => 'btn-flat success btn-finish'

