%h1 Préstamos
%hr

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Amount
      %th Status
      %th Financing Time
      %th Financing Rate
      %th Emision Date
      %th Created At
      %th       

  %tbody
    - @loans.each do |loan|
      %tr
        %td= number_to_currency loan.amount
        %td= loan.status
        %td= pluralize loan.financing_time, 'month'
        %td= number_to_percentage(loan.financing_rate, precision: 0)   
        %td= loan.emision_date.try :strftime, '%e %b %Y'
        %td= loan.created_at.strftime('%e %b %Y %H:%M:%S')
        %td
          = link_to 'Show', [@user, loan]

%br

= link_to 'New Loan', new_user_loan_path(@user)
