#pad-wrapper.user-profile
  .row.header
    .col-md-8
      %h3.name
        Depósitos
      %span.area= @loans_count
    = link_to new_admin_deposit_path, class: 'btn-flat success pull-right' do
      Nuevo Depósito
      %span

  .table-wrapper.users-table
    .row-fluid
      %table.table.table-hover
        %thead
          %tr
            %th ID
            %th Monto
            %th Fecha
            %th Acciones

        %tbody
          - @deposits.each do |deposit|
            %tr
              %td= deposit.account_id
              %td= number_to_currency(deposit.amount, precision: 2, separator: ".", unit: 'RD$', delimiter: ',', format: "%u %n")
              %td= deposit.created_at
              %td
                = link_to 'ver', admin_deposit_path(deposit)
                = link_to 'Editar', edit_admin_deposit_path(deposit)
                /= link_to 'Eliminar', admin_deposit_path(deposit), :method => :delete, :data => { :confirm => '¿Estas seguro?' }
                


