= simple_form_for [:admin, @request], html: { class: 'form-vertical' }  do |f|
  
  = f.input :user_id, as: :select, collection: User.for_select, include_blank: 'select user'
  = f.input :status, as: :select, collection: Request::Statuses, include_blank: false
  = f.input :amount, input_html:  {value: f.object.amount || '1'}
  = f.input :financing_time, input_html:  {value: f.object.financing_time || '1'}
  = f.input :financing_rate, input_html:  {value: f.object.financing_rate || Request::DefaultFinancingRate}


    
  .actions
    = f.submit 'Save', :class => 'btn-flat success btn-finish'
