%p
  
  %b Usuario:
  = @request.user.name
  %br

  %b Monto:
  = number_to_currency( @request.amount, unit: "$" )
  %br

  %b Tasa de financiamiento:
  = number_to_percentage(@request.financing_rate, precision: 0)   
  %br

  %b Tiempo de financioamiento:
  = pluralize @request.financing_time, 'month'
  %br

  %b Estatus:
  = @request.status
  %br

  %b Creado:
  = @request.created_at.strftime('%e %b %Y %H:%M:%S')
  %br


= link_to 'Editar', edit_admin_request_path(@request)
\|
= link_to 'Regresar', admin_requests_path
