!!!
%html
  %head
    %title Crediclub
    = stylesheet_link_tag "dashboard", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag "admin", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
    / open sans font
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800", :rel => "stylesheet", :type => "text/css"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    /
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    / bootstrap
    / libraries
    / global styles
    / this page specific styles
    / open sans font
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800", :rel => "stylesheet", :type => "text/css"}/
    / lato font
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic", :rel => "stylesheet", :type => "text/css"}/
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    / navbar
    = render '/admin/shared/navbar'

    /stats 
    = render '/admin/shared/stats'
          
    /sidebar 
    = render '/admin/shared/sidebar'
    
    / main container
    .content
      /#pad-wrapper  
      = bootstrap_flash
      = yield       

    = javascript_include_tag "application", "data-turbolinks-track" => true
    %script{:src => "http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"}

    - if content_for?(:on_ready)
      :javascript
        $(function(){
          #{yield :on_ready}
        });
